.remark-slide-content p, 
.remark-slide-content ol,
.remark-slide-content li {
  font-size: 1.9rem;
}

.big-text {
  font-size: 12rem;
  font-weight: 900;
}

.white {
  color: white;
}

.medium-text {
  font-size: 5rem;
  font-weight: 900;
}

.spaced td {
  padding: 15px;
  font-size: 2.2rem;
}

.spaced tr {
  background-color: white;
  font-size: 2.5rem;
}


.pull-left-wide {
  float: left;
  width: 50%;
}